body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background: linear-gradient(to right, #003135, #024950, #0FA4AF,#AFDDE5 );
    transition: background 0.3s ease;
}

header {
    background-color: #4917eb;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

.section {
    padding: 60px 20px;
    text-align: center;
    margin-top: 60px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.section:not(.active) {
    opacity: 0.3;
    transform: translateY(20px);
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, p {
    color: #ffffff;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    background: #34e3fa;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 0 1 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
    font-size: 40px;
    color: #00796b;
}

.testimonial-card {
    background: #34e3fa;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 0 1 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000;
}

.testimonial-card h4 {
    margin-top: 10px;
    color: #00796b;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form input,
#contact form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact form button {
    padding: 0.5em 2em;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#contact form button:hover {
    background-color: #ff6347;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me-text {
    flex: 1;
    padding-right: 20px;
}

.about-me-image {
    flex: 0 0 auto;
}

.about-me-image img {
    max-width: 300px;
    border-radius: 50%;
}

.social-media {
    margin-top: 50px;
}

.social-media a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ff6347;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
